<div class="row">
    <div class="col-4">
        <div class="card">
            <!--Show the image of the user, || give the initial photo of the user-->
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <!--To show that the user is online inside the member detail page-->
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <!--Use of the date pipe to get a better format of date-->
                    <strong>Last active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created| date:'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <!--To active the messages tab upon click, go to the message tab -->
                    <button (click)="selectTab('Messages')" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <!--template reference variable-->
        <tabset class="member-tabset" #memberTabs>
            <!--Only load the info when you click on the button -->
            <tab heading="About {{member.knownAs}}"  (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <!--Only load the info when you click on the button -->
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <!--Only load the info when you click on the button -->
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
                <gallery *ngIf="photoTab.active" [items]="images" class="gallery"></gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <!--receive those messages from SignalR, ow we're going to get them when we connect to the Hub-->
                <app-member-messages [username]="member.userName"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>